@using School_Timetable.ViewModels

@model List<AppUserViewModel>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="users-container">

        <h1>All Users</h1>

        <form method="post">
            <div class="search-wrapper">
                <div class="searchbar">
                    <span id="search-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="search" id="search" placeholder="Search user" spellcheck="false" data-search />
                </div>
            </div>

            <table class="professors-table">
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>County</th>
                        <th>City</th>
                        <th>Email Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="5" class="noexistingUsers">No existing users</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="noUsersFound hide">No users found</td>
                        </tr>

                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr class="user-entity">
                                <td><b>@Model[i].SchoolName</b></td>
                                <td>@Model[i].County</td>
                                <td>@Model[i].City</td>
                                <td>@Model[i].EmailAddress</td>
                                <td class="delete-button-table">
                                    @Html.ActionLink($"Delete", "DeleteUser", new { userId = Model[i].Id }, new { @class = "delete-button delete-user-button" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>
}

<script src="~/js/AllUsers.js" asp-append-version="true"></script>