@using School_Timetable.ViewModels

@model AppUserViewModel

<div class="info-container info">
    <div class="form-container">
        <h1>My Account</h1>

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                <span>@TempData["Message"]</span>
            </div>
        }

        <input type="hidden" asp-for="Id" value="@Model.Id" readonly />

        <div class="table-container">
            <table class="list-table">
                <thead>
                    <tr>
                        <th class="first-column"></th>
                        <th class="last-column">
                            <a asp-area="" asp-controller="Account" asp-action="Edit" class="edit-button" id="editInfoButton">Edit</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>School Name</b></td>
                        <td>@Model.SchoolName</td>
                    </tr>
                    <tr>
                        <td><b>County</b></td>
                        <td>@Model.County</td>
                    </tr>
                    <tr>
                        <td><b>City</b></td>
                        <td>@Model.City</td>
                    </tr>
                    <tr>
                        <td><b>Email address</b></td>
                        <td>@Model.EmailAddress</td>
                    </tr>
                    <tr>
                        <td><b>Password</b></td>
                        <td>
                            <a asp-area="" asp-controller="Account" asp-action="ChangePassword" class="edit-button" id="editPasswordButton">Change password</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
