@using School_Timetable.Models.Entities

@{
    var professorSubjects = ViewData["professorSubjects"] as List<string>;
    var unassignedHours = ViewData["unassignedHours"] as List<int>;
    var professorClasses = ViewData["professorClasses"] as List<List<string>>;
}

@model List<School_Timetable.Models.Entities.Professor>

<div class="professors-container">

    <h1>Professors</h1>

    <form method="post">
        <div class="add-professor-container">
            <a class="create-button" asp-area="" asp-controller="Professors" asp-action="Create">Add Professor</a>
        </div>

        <table class="professors-table">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Subject</th>
                    <th>Unassigned hours</th>
                    <th>Classes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="professor-name">@Model[i].LastName</td>
                        <td class="professor-name">@Model[i].FirstName</td>
                        <td>@professorSubjects[i]</td>
                        <td class="unassigned-hours">@unassignedHours[i] h</td>
                        @if (professorClasses[i].Count > 0)
                        {
                            <td class="professors-classes-list">
                                <ul>
                                    @foreach (string schoolClass in professorClasses[i])
                                    {
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            @schoolClass
                                        </li>
                                    }
                                </ul>
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">No classes</td>
                        }
                        <td class="edit-button-table">
                            @Html.ActionLink($"Edit", "Edit", new { professorId = Model[i].Id }, new { @class = "edit-button edit-professor-button" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<script src="~/js/IndexProfessor.js" asp-append-version="true"></script>